<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<link href="./css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<form method="post" action="/sendinfo">
		<h1>Enter your name:
		<input type="text" name="myName" size="20" class="form-control" placeholder="Name"></h1>
		<h1>Enter your status:
		<input type="text" name="myStatus" size="20" class="form-control" placeholder="Status"></h1>
		<input type="submit" name="redirect" value="Redirect" class="btn btn-primary btn-large" color:"">
	</form>

</body>
</html>
